.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(201, 132, 5);
    padding: 20px 0;
}

.header__title {
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color:  rgb(253, 253, 253);
}

.header__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
}